<% include partials/header %>

<!-- Picture And Header -->
<header class="masthead"  style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Me</h1>
              <span class="subheading">Have questions? I have answers.</span>
            </div>
          </div>
        </div>
      </div>
    </header>


<!-- Body -->
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hey there, as a starter, I’m Georgio Ghazzi, Lebanese, born on 1994, and currently living in Lebanon.</p>
          <p>This is my first blog, I’m learning Graphic Designing/Ethical Hacking on my own and Computer Science in the university, so I’ve decided to start my own blog, not to brag, but to improve my knowledge and my designing skills and to share my experience. And not to forget, improve my English writing.</p>
          <p>So therefore I’d be sharing some interesting links on improving your skills and what to/what not to.</p>
          <p>Hope you’ve enjoyed your stay and visit my blog more often!</p>	
        </div>
      </div>
    </div>

    <hr>


<% include partials/footer %>