<% include ./partials/header %>
<h1>Please log in</h1>

<form action="/login" method="POST">
    <input name="username" placeholder="User Name" type='text'>
    <input name="password" placeholder="Password" type='password'>
    <button>Submit</button>
    
</form>

<% include ./partials/footer %>